@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");

*,
:before,
:after {
  font-family: "Karla", sans-serif;
}

p {
  color: #1f2937;
}

@tailwind base;
@tailwind components;

.hero {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.25),
      rgba(255, 255, 255, 0.25)
    ),
    url("../public/images/IMG_9088.jpg");
  height: 100vh;
  margin-top: -123.2px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@tailwind utilities;
